<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.ics.member.orm.mapper.BaseBuyerMapper">
  <resultMap id="BaseResultMap" type="com.wxy.ics.member.orm.model.BaseBuyer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="user_code" jdbcType="CHAR" property="userCode" />
    <result column="buyer_code" jdbcType="CHAR" property="buyerCode" />
    <result column="buyer_type" jdbcType="BIT" property="buyerType" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="member_status" jdbcType="BIT" property="memberStatus" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="isdelete" jdbcType="BIT" property="isdelete" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
</mapper>