<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.ics.member.orm.mapper.BaseMemberMapper">
  <resultMap id="BaseResultMap" type="com.wxy.ics.member.orm.model.BaseMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="user_code" jdbcType="CHAR" property="userCode" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="union_id" jdbcType="VARCHAR" property="unionId" />
    <result column="wx_avator" jdbcType="VARCHAR" property="wxAvator" />
    <result column="wx_nike_name" jdbcType="VARCHAR" property="wxNikeName" />
    <result column="user_status" jdbcType="BIT" property="userStatus" />
    <result column="invite_user_id" jdbcType="CHAR" property="inviteUserId" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
</mapper>