<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.ics.member.dao.mapper.BaseStoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxy.ics.member.dao.entity.StorePO">
        <id column="id" property="id" />
        <result column="channel" property="channel" />
        <result column="user_code" property="userCode" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="seller_code" property="sellerCode" />
        <result column="store_code" property="storeCode" />
        <result column="verifiedType" property="verifiedType" />
        <result column="store_name" property="storeName" />
        <result column="store_adress" property="storeAdress" />
        <result column="store_logo" property="storeLogo" />
        <result column="main_category" property="mainCategory" />
        <result column="introduction" property="introduction" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, channel, user_code, create_time, is_delete, create_by, update_by, update_time, seller_code, store_code, verifiedType, store_name, store_adress, store_logo, main_category, introduction
    </sql>

</mapper>
